Flask==3.0.3
python-dotenv==1.1.0
langchain-core==0.3.55  # Adjust version based on your installed version
langchain-google-genai==2.1.3  # Adjust version based on your installed version
gunicorn # For production deployment